.menu {
  display: flex;
  background: black;
  position: fixed;
  width: 100%;
  justify-content: space-around;
  z-index: 3;
}

.menu h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  margin: 1.5% 0;
}
