.ContactBody {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contact_FX {
  width: 30%;
  float: left;
  margin: 6% 0 3% 6%;
}

.ContactWrap {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 1% auto 0% auto;
  background: white;
}

.ContactTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  margin: 2%;
  color: rgba(0, 31, 63, 1);
}

.TransitionWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
  text-align: center;
}

.form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

.form-input {
  width: 50%;
  padding: 1%;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  border-style: inset;
  border: 2px solid #001f3f;
}

.form-text {
  width: 50%;
  padding: 1%;
  border-radius: 8px;
  margin-top: 1.5%;
  height: 20vh;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  border-style: inset;
  border: 2px solid #001f3f;
}

.Btn {
  position: relative;
  font-size: 1.5rem;
  font-family: 'Righteous', cursive;
  margin-top: 1.5%;
  cursor: pointer;
  background: none;
  border: none;
}

.Btn::before,
button::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ff4136;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.Btn::before {
  top: 0;
  transform-origin: center right;
}

.Btn:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}

.Btn::after {
  bottom: 0;
  transform-origin: center left;
}

.Btn:hover::after {
  transform-origin: center right;
  transform: scaleX(1);
}

.footer {
  position: absolute;
  z-index: -1;
}
