.btnWrap {
  display: flex;
  margin: 2%;
  width: 30%;
  justify-content: center;
}

.Btn {
  position: relative;
  font-size: 1.5rem;
  font-family: 'Righteous', cursive;
  margin: 1% auto;
  cursor: pointer;
  border-radius: 8px;
  background: #373a47;
  color: white;
  padding: 5%;
  width: 100%;
}

.Btn::before,
button::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ff4136;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.Btn::before {
  top: 0;
  transform-origin: center right;
}

.Btn:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}

.Btn::after {
  bottom: 0;
  transform-origin: center left;
}

.Btn:hover::after {
  transform-origin: center right;
  transform: scaleX(1);
}

.footer {
  position: absolute;
  z-index: -1;
  background-size: contain;
  height: -webkit-fill-available;
  width: 100%;
}

