#root {
  overflow: hidden;
}
#App {
  background-image: url("./media/rain-drops.png");
  background-repeat: round;
  overflow: hidden;
}
a {
  font-family: 'Roboto', sans-serif;
}
/* visited link */
a:visited {
  color: green;
}
/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: blue;
}